<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <title>Project</title>
</head>

<body>
    <div class="container">
        <!-- Content here -->
        <!-- As a heading -->
        <nav class="navbar navbar-light">
            <a class="navbar-brand d-flex" href="{{ url_for('login') }}">
                <img src="{{url_for('static', filename='./img/logo.jpg')}}" alt="logo" loading="lazy">
            </a>
            <div id="nav-name" class="d-flex">
                <i class="fa fa-user-circle-o"></i>
                <p id="user-name">{{username}}</p>
            </div>
            <div id="nav-logout" class="d-flex">
                <i class="fa fa-sign-out"></i>
                <a href="{{ url_for('logout') }}" class="text-dark">Log out</a>
            </div>
        </nav>
        <div class="row">
            <div class="col-3" id="title">
                <div class="list-group list-group-flush" id="page-list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="overview-list" data-toggle="list"
                        href="#overview" role="tab" aria-controls="overview">Overview</a>
                    <a class="list-group-item list-group-item-action" id="controller-list" data-toggle="list"
                        href="#controller" role="tab" aria-controls="controller">Controller</a>
                    <a class="list-group-item list-group-item-action" id="report-list" data-toggle="list" href="#report"
                        role="tab" aria-controls="report" onclick="get_report()">Report</a>
                    <a class="list-group-item list-group-item-action" id="status-list" data-toggle="list"
                        href="#status" role="tab" aria-controls="status" onclick="get_status()">Status</a>
                </div>
            </div>
            <div class="col-9" id="content">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel"
                        aria-labelledby="overview-list">
                        <h1>Overview</h1>
                        <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                    <div class="tab-pane fade" id="controller" role="tabpanel" aria-labelledby="controller-list">
                        <h1>Controller</h1>
                        <div id="ctrl-tab">
                            <div id="ctrl-1">
                                <div id="auto-mode">
                                    <h2>Auto-mode</h2>
                                    <label class="switch">
                                        <input type="checkbox" id="automode-btn" checked onclick="auto_check()">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div id="manual-mode">
                                    <h2>Manual-mode</h2>
                                    <div id="ctrl-switch">
                                        <h4>Turn light on/off</h4>
                                        <label class="switch">
                                            <input type="checkbox" id="switch-btn" checked onclick="check()">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div id="ctrl-adjust">
                                        <h4>Adjust intensity</h4>
                                        <div id="range-wrap">
                                            <input type="range" min="0" max="255" step="1" value="" id="adjust-in"
                                                oninput="adjust(value)">
                                        </div>
                                        <div id="range-label">
                                            <output for="adjust" id="adjust-out"></output>
                                        </div>
                                    </div>
                                    <div id="timer">
                                        <h4>Timer</h4>
                                        <label class="switch">
                                            <input type="checkbox" id="timer-btn" onclick="timer_set()">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="ctrl-2">
                                <img src="{{ url_for('static', filename='./img/bulb_normal.png') }}" alt="bulb"
                                    id="bulb_img">
                                <div id="timer-config">
                                    <label for="timer-start">Between:</label><br>
                                    <input type="time" id="timer-start" name="timer-start"><br>
                                    <label for="timer-end">And:</label><br>
                                    <input type="time" id="timer-end" name="timer-end"><br>
                                    <label for="timer-freq">Frequency:</label><br>
                                    <select id="timer-freq">
                                        <option value="0">One time</option>
                                        <option value="1">Daily</option>
                                    </select>
                                </div>
                            </div>
                            <button onclick="send_adjust()" id="apply-btn" class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-list">
                        <h1>Report</h1>
                        <div id="report-content">
                            <div id="device-list">
                                <div class="list-group" id="report-list-tab" role="tablist">
                                    <a class="list-group-item list-group-item-action active list-group-item-info"
                                        id="list-home-list" data-toggle="list" href="#report-sensor" role="tab"
                                        aria-controls="home">Sensor
                                    </a>
                                    <a class="list-group-item list-group-item-action list-group-item-info"
                                        id="list-profile-list" data-toggle="list" href="#report-controller" role="tab"
                                        aria-controls="profile">Controller
                                    </a>
                                </div>
                                <p>Choose date:</p>
                                <input type="date" id="report-date" oninput="get_report()">
                            </div>
                            <div id="report-list">
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="report-sensor" role="tabpanel"
                                        aria-labelledby="list-home-list">
                                        <div id="sensor-table"></div>
                                    </div>
                                    <div class="tab-pane fade" id="report-monitor" role="tabpanel"
                                        aria-labelledby="list-profile-list">
                                        <div id="monitor-table"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-list">
                        <h1>Status</h1>
                        <div id="status-tab">
                            <h2>Current light status <span id="light-status"></span></h2>
                            <h2>Mode: <span id="mode-status"></span></h2>
                            <h2>Next schedule on <span id="schedule-status"></span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--****************************************************************************************************************-->

    <!-- Optional JavaScript -->
    <script>

        // Get data from server
        var data = JSON.parse("{{data}}".replace(/&#34;/g, '"')).data
        console.log(data)
        var dt_l1 = [], dt_l2 = [], dt_l3 = [], dt_l4 = []
        for (var i = 0; i < data.length; i++) {
            switch (data[i].device_id) {
                case "Light": dt_l1.push(data[i].value); break;
                case "Light12": dt_l2.push(data[i].value); break;
                case 3: dt_l3.push(data[i].value); break;
                case 4: dt_l4.push(data[i].value); break;
            }
        }

        // Get data to display in overview chart
        var l1_chart = [], l2_chart = [], l3_chart = [], l4_chart = []
        for (var i = dt_l1.length - 7; i < dt_l1.length; i++) {
            l1_chart.push(dt_l1[i])
        }

        document.getElementById('report-date').valueAsDate = new Date();
        $(document).ready(function () {
            var val = document.getElementById('adjust-in').value
            var switch_btn = document.getElementById('switch-btn')
            adjust(val)
            check()
            document.getElementById('automode-btn').checked = true
            timer_set()
        })

        document.getElementById('adjust-in').value = l1_chart[l1_chart.length - 1]
        function adjust(val) {
            document.getElementById('automode-btn').checked = false
            let bulb = document.getElementById('adjust-out')
            let bulb_img = document.getElementById('bulb_img')
            let range_label = document.getElementById('range-label')
            range_label.style.right = 255 - val + 'px'
            if (0 <= val && val < 80) {
                bulb.value = val
                bulb.style.color = "lightseagreen"
                // bulb.style.textAlign = "left"
                bulb_img.src = "{{ url_for('static', filename='./img/bulb_low.png') }}"
            }
            else if (80 <= val && val < 170) {
                bulb.value = val
                bulb.style.color = "lightgreen"
                // bulb.style.textAlign = "center"
                bulb_img.src = "{{ url_for('static', filename='./img/bulb_normal.png') }}"
            }
            else {
                bulb.value = val
                bulb.style.color = "lightcoral"
                // bulb.style.textAlign = "right"
                bulb_img.src = "{{ url_for('static', filename='./img/bulb_high.png') }}"
            }
        }

        function check() {
            document.getElementById('automode-btn').checked = false
            let checked = document.getElementById('switch-btn').checked
            let ctrl_adjust = document.getElementById('ctrl-adjust').style
            let ctrl_2 = document.getElementById('ctrl-2').style
            if (!checked) {
                ctrl_2.display = "block"
                ctrl_adjust.display = "block"
            }
            else {
                ctrl_2.display = "block"
                ctrl_adjust.display = "block"
            }
        }

        // Create chart label
        var chart_timer = setInterval(changeLabel, 60000)
        var chart_label = []
        for (var i = 6; i >= 0; i--) {
            var t = new Date(new Date().getTime() - (6 - i) * 60000)
            var hour = t.getHours()
            var min = t.getMinutes() //- t.getMinutes() % 5
            chart_label[i] = hour + ':' + min
        }

        update_chart()

        // Update chart label
        function changeLabel() {
            var t = new Date()
            var hour = t.getHours()
            var min = t.getMinutes() //- t.getMinutes() % 5
            chart_label.shift()
            chart_label.push(hour + ':' + min)
            update_chart_data()
            update_chart()
        }

        // Function to update overview chart
        function update_chart() {
            // Redraw the overview chart
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: chart_label,
                    datasets: [{
                        label: 'Light intensity',
                        data: l1_chart,
                        backgroundColor: [
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)'
                        ],
                        borderWidth: 3
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        // Function to update chart data
        function update_chart_data() {
            $.ajax({
                url: "{{url_for('get_data', username = username)}}",
                success: function (updated_data) {
                    data = JSON.parse(updated_data.replace(/&#34;/g, '"')).data
                    console.log(data)
                }
            })
        }

        // Function send light adjustment
        function send_adjust() {
            var val = document.getElementById('adjust-in').value
            var switch_btn = document.getElementById('switch-btn')
            if (!switch_btn.checked || val == 0) {
                var data = {
                    device_id: "LightD",
                    values: ["0", "0"]
                }
            }
            else {
                // var val = document.getElementById('adjust-in').value
                data = {
                    device_id: "LightD",
                    values: ["1", String(val)]
                }
            }
            if (!timer_set()) {
                data['schedule'] = 0
                document.getElementById('automode-btn').checked = false
            }
            else {
                data['schedule'] = timer_set()
                document.getElementById('automode-btn').checked = true
            }
            console.log(data)
            $.ajax({
                method: 'POST',
                url: "{{url_for('set_data', username = username)}}",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json'
            })
            auto_check()
        }

        //Implement timer setting
        function timer_set() {
            var timer_config = document.getElementById("timer-config")
            var timer_btn = document.getElementById("timer-btn")
            if (!timer_btn.checked) {
                timer_config.style.display = "none"
                return false
            }
            else {
                timer_config.style.display = "block"
                var timer_start = document.getElementById("timer-start").value
                var timer_end = document.getElementById("timer-end").value
                var timer_freq = document.getElementById("timer-freq").value

                var s = timer_start.split(':');
                var e = timer_end.split(':');

                var end = parseInt(e[0]) * 60 + parseInt(e[1]);
                var start = parseInt(s[0]) * 60 + parseInt(s[1]);

                var elapsedMs = ((end - start) >= 0) ? end - start : 24 * 60 - (start - end);

                console.log(timer_freq)
                console.log(parseInt(elapsedMs / 60) + " hours " + elapsedMs % 60 + " minutes")
                var timer_data = {
                    start: timer_start,
                    duration: elapsedMs,
                    freq: parseInt(timer_freq)
                }
                return timer_data
            }
        }

        //Send auto-mode
        function auto_check() {
            let auto_btn = document.getElementById('automode-btn').checked
            $.ajax({
                method: 'POST',
                url: "{{url_for('change_uright', username = username)}}",
                data: JSON.stringify({
                    auto: auto_btn
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json'
            })
        }

        //Get and display report
        function get_report() {
            var report_date = $('#report-date').val()
            var a = $('#report-list-tab a[href="#report-sensor"].active')
            if (a.length != 0) {
                get_sup_report('sensor', report_date)
            }
            var b = $('#report-list-tab a[href="#report-controller"].active')
            if (b.length != 0) {
                get_sup_report('controller', report_date)
            }
            $('#report-list-tab a[href="#report-sensor"]').on('click', function () {
                get_sup_report('sensor', report_date)
            })
            $('#report-list-tab a[href="#report-controller"]').on('click', function () {
                get_sup_report('controller', report_date)
            })
        }

        function get_sup_report(type, date) {
            console.log(type + date)
            $.ajax({
                method: 'POST',
                url: "{{url_for('get_report', username = username)}}",
                data: JSON.stringify({
                    type: type,
                    date: date
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    create_table(type, data['data'])
                }
            })
        }

        function create_table(type, data) {
            if (type == 'sensor') {
                sensor_table = ""
                if (data.length == 0) {
                    sensor_table = "No record yet."
                }
                else {
                    sensor_table = 
                    `<table class="table table-sm table-hover table-bordered">
                        <thead class="thead-dark"> 
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Device</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead >
                        <tbody>`
                    for (i = 0; i < data.length; i++) {
                        sensor_table += 
                        `<tr>
                            <th scope="row">` + (i + 1).toString() + `</th>
                            <td>` + data[i]['device_id'] + `</td>
                            <td>` + data[i]['values'] + `</td>
                        </tr>`
                    }
                    sensor_table += 
                        `</tbody>
                    </table >`
                }
                document.getElementById('sensor-table').innerHTML = sensor_table
            }
            else {
                monitor_table = ""
                if (data.length == 0) {
                    monitor_table = "No record yet."
                }
                else {
                    monitor_table = 
                    `<table class="table table-sm table-hover table-bordered">
                        <thead class="thead-dark"> 
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Device</th>
                                <th scope="col">Value</th>
                                <th scope="col">Setting time</th>
                                <th scope="col">Schedule</th>
                            </tr>
                        </thead >
                        <tbody>`
                    for (i = 0; i < data.length; i++) {
                        monitor_table += 
                        `<tr>
                            <th scope="row">` + (i + 1).toString() + `</th>
                            <td>` + data[i]['device_id'] + `</td>
                            <td>` + data[i]['values'].toString() + `</td>
                            <td>` + data[i]['time'] + `</td>
                            <td>` + JSON.stringify(data[i]['schedule']) + `</td>
                        </tr>`
                    }
                    monitor_table += 
                        `</tbody>
                    </table >`
                }
                document.getElementById('sensor-table').innerHTML = monitor_table
            }
        }


        //Get and display status
        function get_status() {
            document.getElementById('light-status').innerHTML = l1_chart[l1_chart.length - 1]
            $.ajax({
                url: "{{url_for('get_status', username = username)}}",
                success: function(status_data) {
                    console.log(status_data)
                    var data = JSON.parse(status_data.replace(/&#34;/g, '"'))
                    var umode = data['umode']
                    var amode = data['amode']
                    var schedule = data['schedule']
                    console.log(umode, amode, schedule)
                    if (umode == "True") {
                        document.getElementById('mode-status').innerHTML = 'Manual'
                    }
                    else if (amode == "False") {
                        document.getElementById('mode-status').innerHTML = 'On schedule'
                    }
                    else {
                        document.getElementById('mode-status').innerHTML = 'Auto'
                    }
                    document.getElementById('schedule-status').innerHTML = schedule
                }
            })
        }
    </script>
</body>

</html>